html, body, .capa {
	height: 100%;
}

body {
	background: url('../imagens/capa.png'),
				url('../imagens/ruido.png'),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica, Arial, san-serif;
	overflow-x: hidden;
}

.navbar-brand{
	padding: 5px 15px;
}
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border:none;

}
.navbar-inverse .navbar-nav>li>a{
	color: #fff;
}
.navbar-inverse .navbar-nav>li>a:hover{
	color:#9bf0e1;
	background: none;
}	

.divisor{
	width: 1px;
	height: 16px;
	background: #fff;
	margin:16px 10px;
}
.capa{
	display: table;
	width: 100%;
}
.texto-capa {
	text-align: center;
	color:#fff;
	display: table-cell;
	vertical-align: middle;
}

#servicos{
	background: #fff;
	padding: 20px 0 20px 0;
}

.albuns{
	padding: 10px 0 10px 0;
}

#recursos {
	padding: 20px 0;
	color:#fff;
}

.rotacionar{
	transform:rotate(30deg); 
	padding-top: 20px;
	padding-left: 80px;
}

/*tipografia*/
h1 {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}
h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4{
	color:#919496;
	font-size: 12px;
	text-transform: uppercase;
}

#servicos h2, #servicos h3{
	color:#7c25f8;
}

#recursos h3 {
	color: #9bf0e1;
}

footer{
	background: #000;
	padding: 50px 0 20px 0;
	position: relative;
}

.item-rede-social{
	float: right;
}

footer .nav a{
	color:#fff;
}

footer .nav a:hover{
	color:#9bf0e1;
	background: none;
}

.img-logo{
	height: 60px;
	width: 132px;
	display: block;
	background: url('../imagens/spotify.svg') no-repeat;
	background-size: contain;
	color: transparent;
}

.btn-roxo{
	background: #7c25f8;
}
.btn-roxo:hover{
	background-color: #6207e3;
	color:#fff;
}
.btn-branco{
	border: 2px solid #fff;
}
.btn-branco:hover{
	background-color: #fff;
	color:#000;
}
.btn-custom{
	color:#fff;
	border-radius: 500px;
	padding:10px 35px;
	margin:0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;
}